h1{
    text-align: center;
    color: blue;
  }
  h2{
    text-align: center;
    color:blue;
  }
  button{
    text-align: center;
    color:blue;
  }
  #wrapper{
    text-align: center;
  }
  .sidebar{
      width:400px;
  }
  
  .center{
      background-color:#f9f9f9;
      text-align:center;
  }
  
  .center div{
      display:inline-block;
      margin-left:5px;
      margin-right:5px;
      color:#FFF;
      background-color:none;
  }